{{!
    This file is part the Feedback tracker report plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="row m-3">
    {{#files}}
        <button class="btn btn-primary {{^multiplefiles}}d-none{{/multiplefiles}}"
                data-href="{{{href}}}"
                data-action="localpdfjs_viewfile"
                data-fileid="{{fileid}}"
                data-pdfitemid="{{pdfitemid}}"
                data-filename="{{filename}}"
                data-contextid="{{contextid}}"
                data-annotatedfileurl="{{annotatedfileurl}}"
                data-annotatedfileid="{{annotatedfileid}}"
        >{{filename}}</button>
    {{/files}}
    {{! Save annotations button must have a tabindex or its blur event does not have a relatedtarget, which prevents pdf.js from persisting annotations !}}
    {{^formwrapperid}}
        <button class="btn btn-primary" tabindex="0" data-action="localpdfjs_saveannotations">{{#str}}
            saveannotations, local_pdfjs{{/str}}</button>
        <button class="btn btn-primary" data-action="localpdfjs_clearannotations">{{#str}}
            clearannotations, local_pdfjs{{/str}}</button>
    {{/formwrapperid}}
</div>

<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" id="pdfjsiframe"></iframe>
</div>

<script type="module">
    const bc = new BroadcastChannel("pdfjs");
    bc.onmessage = () => {
        require(['local_pdfjs/viewpdf'], function (viewpdf) {
            viewpdf.init("{{formwrapperid}}");
        });
    }
    document.getElementById('pdfjsiframe').src="{{{global.siteurl}}}/local/pdfjs/lib/pdfjs/web/viewer.html";
</script>
